---
import Nav from "../../components/Nav.astro";
import StuffGrid from "../../components/StuffGrid.astro";
import { navItems, stuff } from "../../data/home";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Dmitry Shabat — Stuff">
	<div class="page">
		<Nav items={navItems} />
		<StuffGrid stuff={stuff} />
	</div>
</BaseLayout>
