---
import { tagPageUrl } from "../data/home";

interface Props {
	tag: string;
}

const { tag } = Astro.props;
const href = tagPageUrl(tag);
---

<a class="tag-link" href={href} aria-label={`View posts tagged ${tag}`}>
	<span class="tag-hash" aria-hidden="true">#</span><span class="tag-text">{tag}</span>
</a>

<style>
	.tag-link {
		text-decoration: none;
		color: inherit;
		font: inherit;
	}

	.tag-link:hover {
		text-decoration: underline;
		text-underline-offset: 0.12em;
	}

	.tag-hash {
		opacity: 0.7;
	}
</style>
